.cube-outer {
  width: 250px;
  height: 250px;
  display: block;
  perspective: 1000px;
  line-height: 250px;
  text-align: center;
  font-size: 7em;
  color: white;
  margin: 100px auto;
}
.cube-outer .cube {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(-5deg);
  animation-name: roatation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
  animation-fill-mode: reverse;
}
.cube-outer .cube .face {
  height: inherit;
  width: inherit;
  position: absolute;
  opacity: 1;
  overflow: hidden;
  box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.5), 0 0 2px #000000;
  background: blue;
}
.cube-outer .cube .face-front {
  transform: rotateX(0deg) translate3d(0, 0, 125px);
}
.cube-outer .cube .face-back {
  transform: rotateY(180deg) translate3d(0, 0, 125px);
}
.cube-outer .cube .face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 125px);
}
.cube-outer .cube .face-right {
  transform: rotateY(90deg) translate3d(0, 0, 125px);
}
.cube-outer .cube .face-top {
  transform: rotateX(90deg) translate3d(0, 0, 125px);
}
.cube-outer .cube .face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 125px);
}
@keyframes roatation {
  0% {
    transform: rotateX(-10deg) rotateZ(0deg);
  }
  10% {
    transform: rotateX(-30deg) rotateZ(15deg);
  }
  20% {
    transform: rotateX(-90deg) rotateY(15deg) rotateZ(-15deg);
  }
  40% {
    transform: rotateX(-15deg) rotateY(-90deg) rotateZ(15deg);
  }
  60% {
    transform: rotateY(15deg) rotateX(90deg) rotateZ(-15deg);
  }
  80% {
    transform: rotateX(-15deg) rotateY(90deg) rotateZ(-15deg);
  }
  100% {
    transform: rotateX(-15deg) rotateY(180deg) rotateZ(-15deg);
  }
}
