@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture');
body,button
{
  padding: 0;
  margin: 0 auto;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 100px;
  height: auto;
  box-sizing: border-box;
  align-content: center;
  list-style: none;
  grid-gap: 2px;
  padding: 0;
  cursor: url(heart.png),auto;
  position: relative;
  border:solid;
}
.game-grid-item {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Black And White Picture', sans-serif;
  font-size: 100px;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(45deg, #ff8cbf, #e5247a);
  color: #fff;
  border-radius: 5px;
}
.game-grid-item>*
{
  height: 100%;
}
.closed {
  color: transparent;
  position: relative;
  transform: rotateX(180deg);
  backface-visibility: visible;
  transition-duration: 1s;
}
.closed:after {
    content: '';
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(135deg, #ff8cbf, #e5247a);
}
/*[start]
{
  position: absolute;
 width: 100px;
  height: 100px;
  left: 50%;
  top: 90%;
  border:solid;
  border-radius: 50%;
}
[start]:before
{
  content: "";
  width: 100%;
  height: 100%;
  border:solid;
  position: absolute;
  top: 0;
  left: 0;
background: linear-gradient(135deg, #ff8cbf, #e5247a);
   -webkit-clip-path: polygon(100% 51%, 1% 0, 0 100%);
clip-path: polygon(100% 51%, 1% 0, 0 100%);
transform: scale(.5);
}*/